

<div class="container">
  <h1 class="text-center">Articles</h1>
  <div class="allArticles">
    <% @articles.each do |article| %>
      <div class="card mt-4 shadow" style="width: 50%;">
        <div class="card-body text-center">
          <p class="card-text"><%= "By " + article.user.username%></p>   
          <h5 class="card-title"><%= link_to article.title, article, class:"card-link text-success" %></h5>
          <h6 class="card-subtitle"><%=article.theme%></h6>
          <p class="card-text"><%= article.description %></p>   
          <%= link_to 'Show', article, class:"card-link btn btn-outline-success"%>
          <%= link_to 'Edit', edit_article_path(article), class:"card-link btn btn-outline-info"%>
          <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }, class:"card-link btn btn-outline-danger"%>
          <br>
          <small>Created in <%= time_ago_in_words(article.created_at)%>,</small>
          <small>edited in <%= time_ago_in_words(article.updated_at)%></small>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br>


