<div class="container">
  <h1 class="text-center">Articles</h1>
  <div class="allArticles">
    <div class="card mt-4 shadow" style="width: 50%;">
      <div class="card-body text-center">
        <p class="card-text"><%= "By " + @article.user.username%></p> 
        <%= link_to gravatar_for(@article.user,size: 200), user_path(@article.user)%>
        <h5 class="card-title"><%= link_to @article.title, @article, class:"card-link text-success" %></h5>
        <h6 class="card-subtitle"><%=@article.theme%></h6>
        <div class="card-text text-left "><%= simple_format(@article.description) %></div>  
        <% if logged_in? && @article.user == current_user%> 
          <%= link_to 'Edit', edit_article_path(@article), class:"card-link btn btn-outline-info"%>
          <%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' }, class:"card-link btn btn-outline-danger"%>
        <% end %>
        <br>
        <small>Created in <%= time_ago_in_words(@article.created_at)%>,</small>
        <small>edited in <%= time_ago_in_words(@article.updated_at)%></small>
      </div>
    </div>
    <br>
    <%= link_to 'All articles', articles_path, class:"myLink" %>
  </div>
</div>


